<div class="container">
    <h1>About</h1>
    
    <h3>this is a webcomic site chris and nick are workin on for israel.  it's finna be lit.</h3>
    
    <h5>site is seeded with some C&H and other comics and fake descriptions right now for development purposes</h5>
</div>