<div row="container">
    {{#each comics }}
        <ul class="archive">
            <a href="/{{ this.comicNumber }}"><li class="archiveli">{{ this.title }}</a> -<span class="date">{{ this.date }}</span></li>
        </ul>
    {{/each }}
</div>